h1, h2, h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

img, button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}
